#background {
    padding: 96px;


}

#backgroundtwo {
    max-width: 1412px;
    padding: 30px;
    background: #FFB8D7;
}

#Ourblog {
    color: #002AFE;
    text-align: center;
    margin-top: 40px;

}

#Resourcesandinsights {
    color: #181D27;
    text-align: center;
}

#divwhite {
    background-color: white;
}

#text {
    color: #535862;
    text-align: center;

}

#imgone1 {
    width: 100%;
}
#imgone{
    display: inline-block;
    vertical-align: middle;
width: 600px;
border-radius: 16px;
margin-top: 40px;
padding: 0 20px;

}
#imgtwo{
    width: 600px;
    border-radius: 16px;
    margin-top: 40px;
    padding: 0 20px;
}
#imgtwoo{
    width: 600px;
border-radius: 16px;
margin-top: 40px;
padding: 0 20px;
}
#imgthree{
    width: 600px;
border-radius: 16px;
margin-top: 40px;
padding: 0 20px;
}

#firsttextt1 {
    display: inline-block;
    width: 584px;

   display: inline-block;
   vertical-align: middle;
   font-size: 14px;
}
#firsttextt{
    color: #6941C6;
   vertical-align: middle;
   font-size: 14px;
}
#secondtext{
    color: #181D27;
    font-size: 16px;
    display: inline-block;
}
#imgfor{
width: 20px;
height: 20px;
vertical-align: middle;

}
#textp{
    color: #535862;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: 584px;
}
#textimg{
    display: inline-block;
    
}
#name{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#date {
    padding: 0;
    margin: 0;
}


#avatarImage, #avatarInfo {
    display: inline-block;
}
#product{
    color: #6941C6;
    vertical-align: middle;
    font-size: 14px;
 }
#arrow{
    width: 20px;
height: 20px;
vertical-align: middle;

}
#collaboration{
    color: #535862;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: 584px;
}
#nametwo{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
#customer{
    color: #6941C6;
    vertical-align: middle;
    font-size: 14px;
}
#podcaste{
    color: #181D27;
    font-size: 16px;
    
}
#imgforr{
    width: 20px;
height: 20px;
vertical-align: middle;
}
#Starting{
    color: #535862;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: 584px;
}
#avatarthree{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
#namethree{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
#datethree{
    padding: 0;
    margin: 0;
}
#avatarImagee{
    display: inline-block;
}
#avatarInfoo{
    display: inline-block;
}
#poscast {
    display: inline-block;
}